[Desktop Entry]
Name=XaoS
Comment=Realtime fractal zoomer
Comment[az]=Həqiqi zamanlı fraktal göstərici
Comment[bg]=Увеличител на фрактали в реалновреме
Comment[bn]=রিয়েলটাইম ফ্র্যাক্টাল বিবর্ধক
Comment[bs]=Uvećavać fraktala u realnom vremenu
Comment[ca]=Zoom fractal en temps real
Comment[cs]=Zobrazování fraktálů v reálném čase
Comment[cy]=Chwyddwr ffractal Realtime
Comment[da]=Realtids fraktalzoomer
Comment[de]=Zeigt Fraktale in Echtzeit an
Comment[el]=Πρόγραμμα εστίασης φράκταλ πραγματικού χρόνου
Comment[es]=Fractales con zoom en tiempo real
Comment[et]=Reaalaja fraktaalide suurendaja
Comment[eu]=Denbora errealeko zoom fraktala
Comment[fa]=درشت‌نمای کسری بلادرنگ
Comment[fi]=Reaaliaikainen fraktaalitarkastelija
Comment[fr]=Zoom de fractales en temps réel
Comment[he]=זום פרקטלי בזמן אמת
Comment[hi]=रीयलटाइम फ़्रैक्टल ज़ूमर
Comment[hu]=Valós idejű fraktálnagyító
Comment[id]=Zoom fraktal Realtime
Comment[is]=Rauntíma brotaaðdráttur
Comment[it]=Programma di ingrandimento frattali in tempo reale
Comment[ja]=リアルタイムのフラクタルズームソフト
Comment[ko]=실시간 프랙탈 확대기
Comment[lt]=Fraktalų didinimas realiame laike
Comment[mk]=Зголемувач на фрактали во реално време
Comment[mt]=Programm ta' esplorazzjoni ta' frattali
Comment[nb]=Sanntids fraktalzoomer
Comment[nl]=Een realtime-fractalvergroter
Comment[nn]=Eit fraktalvisingsprogram
Comment[pl]=Powiększalnik fraktali działający w czasie rzeczywistym
Comment[pt]=Zoom de fracções em tempo real
Comment[pt_BR]=Zoom Imediato em fractais
Comment[ru]=Увеличитель фракталов в реальном времени
Comment[sk]=Zväčšovanie fraktálov v reálnom čase
Comment[sl]=Približevalnik fraktalov v realnem času
Comment[sq]=Zmadhues fraktal në kohë reale
Comment[sr]=Креатор фрактала у реалном времену
Comment[sr@Latn]=Kreator fraktala u realnom vremenu
Comment[sv]=Realtids fraktalzoomare
Comment[ta]=கணித அறிவியல்
Comment[tg]=Тағири андозаи фрактал дар вақти ҳақиқӣ
Comment[tr]=Gerçek zamanlı fraktal görüntüleyici
Comment[uk]=Збільшувач фракталів у режимі реального часу
Comment[vi]=Trình phóng to nhỏ fractal theo thời gian thực
Comment[zh_CN]=实时分维图形
Comment[zh_TW]=即時碎形縮放器
Exec=xaos
Icon=xaos
Terminal=false
Type=Application
Categories=Education;Science;Math;
