body {
	font-size: 9pt;
	font-family: "Lucida Grande", "Segoe UI", Arial, sans-serif;
}

a { 
	color: #778fbd; 
	font-weight: bold; 
	text-decoration: none; 
}

a:hover {
	text-decoration: underline;
}

dt {
	font-weight: bold;
}
