/////////////////////////////////////////////////////////////////////////////
//
// Icon
//
#include <windows.h>
#include "resource.h"
#include "about.h"
// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "xaos.exe.manifest"
BIG                   ICON    DISCARDABLE     "xaos.ico"
SMALL                  ICON    DISCARDABLE     "small.ico"

#include "xaos.dlg"
#include "version.rc"
#include "about.rc"
