name: build

on: [push]

jobs:
  linux:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: prerequisites
      run: sudo apt update && sudo apt install build-essential qttools5-dev-tools qt6-base-dev libgl1-mesa-dev
    - name: qmake
      run: qmake6
    - name: make
      run: make

  linux-cmake:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: prerequisites
      run: sudo apt update && sudo apt install build-essential qt6-base-dev qt6-tools-dev qt6-tools-dev-tools qt6-l10n-tools linguist-qt6 libgl1-mesa-dev
    - name: cmake
      run: mkdir cbuild; cd cbuild; cmake ..
    - name: make
      run: cd cbuild; make

  mac:

    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v1
    - name: install-qt
      uses: jurplel/install-qt-action@v3
      with:
        version: '6.2.4'
    - name: qmake
      run: qmake
    - name: make
      run: make

  mac-cmake:

    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v1
    - name: install-qt
      uses: jurplel/install-qt-action@v3
      with:
        version: '6.2.4'
    - name: install-gcc-12
      run: brew install gcc@12
    - name: cmake
      run: mkdir cbuild; cd cbuild; cmake ..
    - name: make
      run: cd cbuild; make

# This requires too much disk space (more than 40 GB), so it is disabled for now:

#   wasm:
#
#     runs-on: ubuntu-latest
#
#     steps:
#     - uses: actions/checkout@v1
#     - name: prerequisites
#       run: sudo apt update && sudo apt install build-essential libclang-13-dev cmake ninja-build libgl-dev libegl-dev libfontconfig-dev
#     - name: compile-qt-web
#       run: cd tools && ./compile-qt-web
#     - name: compile-xaos-web
#       run: cd tools && ./compile-xaos-web
